* {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}
h3 {
    text-align: center;
}
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navrow {
    float: left;   
}

.navrow a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(95, 156, 247);
}

div h1 {
    /* padding-top: .2em; */
    text-align: center;
}
.me {
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 2%;
}

.me:hover {
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}
.intro {
    font-size: 1.1em;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: auto;
}
aside ul li {
    padding: .3em;
}

.current {
    background-color: rgb(174, 187, 187);
}

div embed {
    margin: auto;
}

.video {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* About page */ 

div h2 {
    padding-top: 1em;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: auto;
}

.flower {
    height: 15em;
    width: 22em;
    margin: auto;
    padding: auto;
    display: block;
    margin-top: 3em;
    border: 2px solid purple;
    border-radius: 3%;
}

/* Column */ 

.column {
    padding-top: 3em;
    float: left;
    margin: auto;
    padding: auto;
    width: 50%;
    
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

/* link list */

.list li {
    font-size: 1.2em;
    padding: .2em;
    list-style-type: none;
}

/* Social media links */

.social {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2em;
}

.row {
    text-align: center;
}

/* form */ 

div form {
    text-align: center;
    margin: auto !important;
    width: 80%;
}
input {
    padding: .5em;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: .3em;
    box-sizing: border-box;
}

label {
    font-size: 1.3em;
}
textarea {
    padding: .2em;
    border: 1px solid #ccc;
    border-radius: .3em;
    box-sizing: border-box;
}
select {
    padding: .5em;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: .3em;
    box-sizing: border-box;
}
/* submission page */

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
